# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Environment files
.env

# Local development files
.DS_Store
.idea/
.vscode/

# Dependency directories
vendor/

# Build directory
bin/

# Log files
*.log
